<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../css/about-style.css" type="text/css">
    <link rel="stylesheet" href="../css/menu-footer-style.css" type="text/css">
    <link rel="stylesheet" href="../css/slick/slick-theme.css">
    <link rel="stylesheet" href="../css/slick/slick.css">
</head>
<body>
    <header>
        <div class="logo">
            <p>Plant<span>.</span></p>
        </div>
        <ul class="list">
            <li class="list-item">
                <a href="./home-page.html">Home</a>
            </li>
            <li class="list-item">
                <a href="./store-page.html">Store</a>
            </li>
            <li class="list-item">
                <a class="isActive" href="./about-page.html">About</a>
            </li>
            <li class="list-item">
                <a href="./blog-page.html">Blog</a>
            </li>
            <li class="list-item">
                <a href="./contacts-page.html">Contacts</a>
            </li>
            <li class="list-item">
                <a href="./user-page.html"><i class="fas fa-user"></i></a>
            </li>
            <li class="list-item">
                <a href="./search-page.html"><i class="fas fa-search"></i></a>
            </li>
            <li class="list-item">
                <a href="./cart-page.html">Cart</a>
            </li>
        </ul>
    </header>

    <div class="image-container"></div>

    <div class="text-container">
        <div class="row">
            <div class="col">
                <div class="green">
                    <h1>
                        The most
                        important things
                        are not thins so
                        wel’ll design
                        experience.
                    </h1>
                </div>
            </div>
            <div class="col">
                <h3>Who we are</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    <br>
                    <br>
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Mission</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    <br>
                    <br>
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
            </div>
            <div class="col">
                <h3>Vision</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    <br>
                    <br>
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
            </div>
        </div>
    </div>

    <div class="slider-container">
        <div class="slider">
            <div class="slider-slide">
                <div class="img-box" style="background-image: url('../imgs/slide4.jpg')">
                    <div class="black">
                        <h1>
                            Designed in New York, made in
                            Los Angeles, developed to
                            tour door 1
                        </h1>
                    </div>
                </div>
            </div>
            <div class="slider-slide" >
                <div class="img-box" style="background-image: url('../imgs/slide2.jpg')">
                    <div class="black">
                        <h1>
                            Designed in New York, made in
                            Los Angeles, developed to
                            tour door 2
                        </h1>
                    </div>
                </div>
            </div>
            <div id="gg" class="slider-slide">
                <div class="img-box" style="background-image: url('../imgs/slide3.jpg')">
                    <div class="black">
                        <h1>
                            Designed in New York, made in
                            Los Angeles, developed to
                            tour door 2
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Copyright 2021 Plant. Powered by Sivchik Denis</p>
        <div class="icons noMargin">
            <div class="circle">
                <a href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="circle">
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="circle">
                <a href="">
                    <i class="fab fa-pinterest-p"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../css/slick/slick.min.js"></script>
    <script>
        $('.slider').slick()
    </script>
</body>
</html>