<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="../css/menu-footer-style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../css/blog-style.css">
</head>
<body>

<header>
    <div class="logo">
        <p>Plant<span>.</span></p>
    </div>
    <ul class="list">
        <li class="list-item">
            <a href="">Home</a>
        </li>
        <li class="list-item">
            <a href="">Store</a>
        </li>
        <li class="list-item">
            <a href="">About</a>
        </li>
        <li class="list-item">
            <a class="isActive" href="">Blog</a>
        </li>
        <li class="list-item">
            <a href="">Contacts</a>
        </li>
        <li class="list-item">
            <a href=""><i class="fas fa-user"></i></a>
        </li>
        <li class="list-item">
            <a href=""><i class="fas fa-search"></i></a>
        </li>
        <li class="list-item">
            <a href="">Cart</a>
        </li>
    </ul>
</header>

<div class="image-container">
    <div class="black">
        <h1>Blog</h1>
    </div>
</div>

<div class="blog-container">
    <div class="blog">
        <div class="text-container">
            <h1>Change your workspace</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa.
            </p>
            <a href="">Read more</a>
        </div>
        <div class="img-container">
            <img src="../imgs/blog1.jpg" alt="">
        </div>
    </div>
    <div class="blog">
        <div class="text-container">
            <h1>Change your workspace</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa.
            </p>
            <a href="">Read more</a>
        </div>
        <div class="img-container">
            <img src="../imgs/blog1.jpg" alt="">
        </div>
    </div>
</div>

<footer>
    <p>Copyright 2021 Plant. Powered by Sivchik Denis</p>
    <div class="icons noMargin">
        <div class="circle">
            <a href="">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
        <div class="circle">
            <a href="">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div class="circle">
            <a href="">
                <i class="fab fa-pinterest-p"></i>
            </a>
        </div>
    </div>
</footer>

</body>
</html>