<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/menu-footer-style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../css/cart-user-style.css">
</head>
<body>
    <header>
        <div class="logo">
            <p>Plant<span>.</span></p>
        </div>
        <ul class="list">
            <li class="list-item">
                <a href="./home-page.html">Home</a>
            </li>
            <li class="list-item">
                <a href="./store-page.html">Store</a>
            </li>
            <li class="list-item">
                <a href="./about-page.html">About</a>
            </li>
            <li class="list-item">
                <a  href="./blog-page.html">Blog</a>
            </li>
            <li class="list-item">
                <a href="./contacts-page.html">Contacts</a>
            </li>
            <li class="list-item">
                <a href="./user-page.html"><i class="fas fa-user"></i></a>
            </li>
            <li class="list-item">
                <a href="./search-page.html"><i class="fas fa-search"></i></a>
            </li>
            <li class="list-item">
                <a class="isActive" href="./cart-page.html">Cart</a>
            </li>
        </ul>
    </header>

    <div class="container">
        <div class="main-container">
            <h1>Shopping cart</h1>
            <div class="plants-container">
                <div class="plant" v-for="plant in cartPlants">
                    <div class="image-container">
                        <img v-bind:src="plant.url">
                    </div>
                    <div style="padding-bottom: 20px;" class="info-container">
                        <div class="row">
                            <h3 class="name">{{plant.name}}</h3>
                            <button @click="removeFromCart(plant.id)" class="i-container">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="row">
                            <input type="number" min="1" v-model="plant.count" v-on:change="summarize">
                            <p class="price">${{plant.price}}.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="continue" style="text-align: center; background: none; border: 2px solid #e5e5e5;" href="./store-page.html">Continue shopping</a>
        </div>
        <div class="sub-container">
            <h2>Cart total</h2>
            <hr>
            <div class="total-box">
                <div class="small-row">
                    <h3>Subtotal</h3>
                    <div class="price-small">${{subTotalSum}}.00</div>
                </div>
                <div class="post-container">
                    <h3>Shipping</h3>
                    <div style="margin-top: 15px" class="small-row">
                        <div class="radio">
                            <input id="standart" value="20" name="post" v-model="postValue" type="radio">
                            <label for="standart">  Standart</label>
                        </div>
                        <div class="small-price">$20.00</div>
                    </div>
                    <div style="border: none; padding:0; margin-top: 5px" class="small-row">
                        <div class="radio">
                            <input id="free" value="0" name="post" v-model="postValue" type="radio">
                            <label for="free">  Free</label>
                        </div>
                        <div class="small-price">$0.00</div>
                    </div>
                </div>
                <div class="small-row">
                    <h3>Total</h3>
                    <div class="price-small">${{totalSum}}.00</div>
                </div>
            </div>
            <input @click="sendOrder()" type="button" value="Buy">
        </div>
    </div>

    <footer>
        <p>Copyright 2021 Plant. Powered by Sivchik Denis</p>
        <div class="icons noMargin">
            <div class="circle">
                <a href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="circle">
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="circle">
                <a href="">
                    <i class="fab fa-pinterest-p"></i>
                </a>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="../js/request.js"></script>
    <script src="../js/cart.js"></script>
</body>
</html>