<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../css/menu-footer-style.css">
    <link rel="stylesheet" href="../css/one-blog-style.css">
</head>
<body>

    <header>
    <div class="logo">
        <p>Plant<span>.</span></p>
    </div>
    <ul class="list">
        <li class="list-item">
            <a href="./home-page.html">Home</a>
        </li>
        <li class="list-item">
            <a href="./store-page.html">Store</a>
        </li>
        <li class="list-item">
            <a href="./about-page.html">About</a>
        </li>
        <li class="list-item">
            <a href="./blog-page.html">Blog</a>
        </li>
        <li class="list-item">
            <a href="./contacts-page.html">Contacts</a>
        </li>
        <li class="list-item">
            <a href="./user-page.html"><i class="fas fa-user"></i></a>
        </li>
        <li class="list-item">
            <a href="./search-page.html"><i class="fas fa-search"></i></a>
        </li>
        <li class="list-item">
            <a href="./cart-page.html">Cart</a>
        </li>
    </ul>
</header>

    <div class="image-container"></div>

    <div class="text-container">
        <h1>Change your workspace</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa.
            <br>
            <br>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa.
            <br>
            <br>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa.
            <br>
            <br>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa.
        </p>
    </div>

    <div class="comment-container">
        <div class="new-comment-container">
            <p>(1) Comment</p>
            <div class="inputs-container">
                <input type="text" placeholder="Comment">
                <input type="button" value="Post">
            </div>
        </div>
        <p>Comments:</p>
        <div class="comments-container">
            <div class="comment">
                <div class="name">Ivanov Ivan</div>
                <div class="message">Lorem ipsum dolor sit amet</div>
            </div>
            <div class="comment">
                <div class="name">Ivanov Ivan</div>
                <div class="message">Lorem ipsum dolor sit amet</div>
            </div>
        </div>
    </div>

    <footer>
        <p>Copyright 2021 Plant. Powered by Sivchik Denis</p>
        <div class="icons noMargin">
            <div class="circle">
                <a href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="circle">
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="circle">
                <a href="">
                    <i class="fab fa-pinterest-p"></i>
                </a>
            </div>
        </div>
    </footer>
</body>
</html>