<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Searh</title>
    <link rel="stylesheet" href="../css/menu-footer-style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../css/search-style.css">
</head>
<body>
    <header>
    <div class="logo">
        <p>Plant<span>.</span></p>
    </div>
    <ul class="list">
        <li class="list-item">
            <a href="./home-page.html">Home</a>
        </li>
        <li class="list-item">
            <a href="./store-page.html">Store</a>
        </li>
        <li class="list-item">
            <a href="./about-page.html">About</a>
        </li>
        <li class="list-item">
            <a  href="./blog-page.html">Blog</a>
        </li>
        <li class="list-item">
            <a href="./contacts-page.html">Contacts</a>
        </li>
        <li class="list-item">
            <a href="./user-page.html"><i class="fas fa-user"></i></a>
        </li>
        <li class="list-item">
            <a class="isActive" href="./search-page.html"><i class="fas fa-search"></i></a>
        </li>
        <li class="list-item">
            <a href="./cart-page.html">Cart</a>
        </li>
    </ul>
</header>

    <div class="container">
        <div class="search-container">
            <input v-model="inputValue" type="text" placeholder="Search">
            <i class="fas fa-search"></i>
        </div>
        <div class="plants-container">
            <div class="plant" v-for="plant in plants">
                <img @click="openSession(plant.id)" v-bind:src="plant.url" alt="">
                <div class="info-block">
                    <div class="name">
                        {{plant.name}}
                    </div>
                    <div class="green-block">
                        <div class="price">
                            ${{plant.price}}.00
                        </div>
                        <div class="height-block">
                            <div class="height">
                                {{plant.height}}mm
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hover-block">
                    <button v-bind:disabled="plant.inCart" class="cart-container" @click="addToCart(plant.id)">
                        <i :style="{color: plant.inCart ? '#7FB641' : '#8d8d8d'}" class="fas fa-shopping-basket"></i>
                    </button>
                    <button v-bind:disabled="plant.liked" class="heart-container" @click="addToLiked(plant.id)">
                        <i :style="{color: plant.liked ? 'red' : '#8d8d8d'}" class="fas fa-heart"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <footer>
    <p>Copyright 2021 Plant. Powered by Sivchik Denis</p>
    <div class="icons noMargin">
        <div class="circle">
            <a href="">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
        <div class="circle">
            <a href="">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div class="circle">
            <a href="">
                <i class="fab fa-pinterest-p"></i>
            </a>
        </div>
    </div>
</footer>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="../js/request.js"></script>
    <script src="../js/search.js"></script>
</body>
</html>