<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/menu-footer-style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../css/cart-user-style.css">
</head>
<body>
    <header>
        <div class="logo">
            <p>Plant<span>.</span></p>
        </div>
        <ul class="list">
            <li class="list-item">
                <a href="./home-page.html">Home</a>
            </li>
            <li class="list-item">
                <a href="./store-page.html">Store</a>
            </li>
            <li class="list-item">
                <a href="./about-page.html">About</a>
            </li>
            <li class="list-item">
                <a  href="./blog-page.html">Blog</a>
            </li>
            <li class="list-item">
                <a href="./contacts-page.html">Contacts</a>
            </li>
            <li class="list-item">
                <a class="isActive" href="./user-page.html"><i class="fas fa-user"></i></a>
            </li>
            <li class="list-item">
                <a href="./search-page.html"><i class="fas fa-search"></i></a>
            </li>
            <li class="list-item">
                <a href="./cart-page.html">Cart</a>
            </li>
        </ul>
    </header>

    <div class="container">
        <div class="main-container">
            <h1>Liked by you <i class="fas fa-heart"></i></h1>
            <div class="plants-container">
                <div class="plant" v-for="plant in likedPlants">
                    <div class="image-container">
                        <img v-bind:src="plant.url">
                    </div>
                    <div class="info-container">
                        <div style="justify-content: flex-end; height: 40%" class="row">
                            <button @click="removeFromLiked(plant.id)" class="i-container">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="row">
                            <h3 class="name">{{plant.name}}</h3>
                            <p class="price">${{plant.price}}.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="continue" style="text-align: center; background: none; border: 2px solid #e5e5e5;" href="./store-page.html">Continue shopping</a>
        </div>
        <div class="sub-container">
            <h2>Personal info</h2>
            <hr>
            <div class="total-box">
                <div class="small-row horizontal" style="border: none">
                    <h3>Name</h3>
                    <div style="margin-top: 10px; margin-bottom: 20px" class="price-small">{{user.name}}</div>
                </div>
                <div class="small-row horizontal" style="border: none">
                    <h3>Email</h3>
                    <div style="margin-top: 10px; margin-bottom: 20px" class="price-small">{{user.email}}</div>
                </div>
                <div class="small-row horizontal" style="border: none">
                    <h3>Address</h3>
                    <div style="margin-top: 10px; margin-bottom: 20px" class="price-small">{{user.address}}</div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Copyright 2021 Plant. Powered by Sivchik Denis</p>
        <div class="icons noMargin">
            <div class="circle">
                <a href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="circle">
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="circle">
                <a href="">
                    <i class="fab fa-pinterest-p"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="../js/request.js"></script>
    <script src="../js/user.js"></script>

</body>
</html>